body {
    font-family: 'open sans', Arial, sans-serif;
    font-size: 1em;
    color: #444;
    font-weight: 400;
}

h1{
  font-size: 3em;  
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}

img{
  display: none;
}

b{
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

h2{
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: white;
  font-weight: 400;
}